@model projDigita.Models.Player
@{
	ViewBag.Title = "Cadastro";
}

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_4_copy" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="960px" height="560px" viewBox="0 0 960 560" enable-background="new 0 0 960 560" xml:space="preserve">
<g id="fundo">
	
		<radialGradient id="SVGID_1_" cx="480.0198" cy="278.0947" r="403.372" gradientTransform="matrix(1 0 0 -1 -0.02 559.0947)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#B1D689"/>
		<stop  offset="0.0791" style="stop-color:#A9D37E"/>
		<stop  offset="0.2988" style="stop-color:#98CC63"/>
		<stop  offset="0.5235" style="stop-color:#8CC750"/>
		<stop  offset="0.7542" style="stop-color:#84C445"/>
		<stop  offset="1" style="stop-color:#82C341"/>
	</radialGradient>
	<polygon fill="url(#SVGID_1_)" points="973,568 -10.95,568 -13,-6 970.949,-6 	"/>
	<g>
		<g>
			<polygon fill="#FABFA9" stroke="#000000" stroke-miterlimit="10" points="177.519,408.021 178.208,491.638 200.251,486.07 
				196.348,405.566 			"/>
			<polygon fill="#FABFA9" stroke="#000000" stroke-miterlimit="10" points="125.165,420.884 125.854,477.859 147.897,473.697 
				143.995,419.047 			"/>
			<polygon fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="168.5,505.5 222.984,505.5 235.5,496.9 235.5,505.855 
				223.903,511.5 168.5,511.5 			"/>
			<polygon fill="#603813" stroke="#000000" stroke-miterlimit="10" points="199.219,484.5 195.889,463.5 202.318,463.5 
				203.726,484.5 			"/>
			<polygon fill="#603813" stroke="#000000" stroke-miterlimit="10" points="174.763,478.5 203.696,478.5 236.072,497.345 
				234.092,499.877 221.607,508.254 169.942,504.288 			"/>
			<polygon fill="#603813" stroke="#000000" stroke-miterlimit="10" points="116.899,470.479 123.787,483.8 147.209,481.044 
				158.525,467.725 134.809,463.593 			"/>
			<polygon fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="112.5,507.234 112.5,515.5 150.747,517.324 
				162.5,512.278 162.5,503.101 150.832,508.141 			"/>
			<polygon fill="#603813" stroke="#000000" stroke-miterlimit="10" points="116.899,482.196 123.787,483.917 147.209,481.104 
				158.525,477.859 163.052,503.758 158.525,511.5 116.899,511.5 113.455,507.643 			"/>
			<rect x="124" y="500" width="23" height="4"/>
			<rect x="124" y="494" width="23" height="2"/>
			<rect x="124" y="488" width="23" height="2"/>
			<polygon fill="#2E3192" stroke="#000000" stroke-miterlimit="10" points="153.795,422.267 193.593,429.614 211.856,415.378 
				190.78,332.714 143.995,349.247 			"/>
			<polygon fill="#2E3192" stroke="#000000" stroke-miterlimit="10" points="107.714,346.031 102.204,425.94 132.973,432.835 
				165.98,426.858 161.97,339.377 			"/>
			<polygon fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="106.795,277.046 102.204,355.678 161.281,360.271 
				206.48,348.791 196.348,266.13 185.92,245.919 149.964,233.978 113.226,248.216 			"/>
			<polygon fill="#FABFA9" stroke="#000000" stroke-miterlimit="10" points="101.513,281.285 84.934,329.504 100.5,373.131 
				100.5,387.371 110.651,397.471 119.516,393.796 113.155,385.989 123.294,397.471 132.955,389.662 118.76,383.232 133.5,390.123 
				133.5,376.35 122.789,372.211 129.717,365.782 126.752,357.518 115.856,362.568 102.14,328.584 123.756,290.467 			"/>
			<polygon fill="#FF0000" stroke="#000000" stroke-miterlimit="10" points="99.677,252.807 85.67,292.302 128.839,313.427 
				140.779,269.8 123.328,243.42 			"/>
		</g>
		<polygon fill="#FABFA9" points="105.019,169.854 109.836,121.686 198.949,116.526 203.249,124.782 210.092,211.308 
			173.386,246.408 143.786,248.93 106.567,221.291 107.083,187.9 93.477,180.865 94.525,171.748 		"/>
		<polygon points="155.819,198.621 169.806,194.619 164.147,179.935 173.386,195.866 		"/>
		<polygon fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="135.104,211.896 138.839,228.602 163.607,226.716 
			184.382,214.789 162.14,217.214 		"/>
		<polygon fill="#FFFF00" stroke="#000000" stroke-miterlimit="10" points="207.664,173.26 215.234,176.447 211.276,122.953 
			218.033,105.333 229.464,107.717 210.74,95.648 191.5,108.034 191.5,90.5 211.962,90.5 177.175,81.874 164.602,101.326 
			152.074,86.941 173.386,72.689 141.01,77.103 129.642,97.046 118.277,83.598 145.831,68.777 99.333,72.562 87.277,95.292 
			95.543,115.267 73.5,133.521 73.5,168.31 85.555,184.5 82.283,205.165 99.935,200 107.3,208.605 105.903,189.936 92.5,183.466 
			92.5,172.445 105.733,168.826 110.283,184.843 114.28,180.021 122.047,182.432 112.928,162.801 115.172,128.528 158.229,124.052 
			173.385,139.379 175.451,124.224 187.334,134.9 185.957,123.362 190.607,128.184 192.502,123.362 203.868,130.596 		"/>
		<polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="106.672,169.69 93,172.445 93,182.777 
			107.193,189.842 107.146,222.398 143.726,250.307 173.399,247.229 210.655,212.139 203.741,129.562 		"/>
		<polygon points="126.543,157 147.209,157 155.819,162 123.787,162 		"/>
		<polygon points="172.086,161.422 175.318,155.859 195.863,152.857 197.71,157.139 		"/>
		<polygon fill="#FFFFFF" points="132.191,181.037 130.145,170.536 149.35,171.124 150.408,177.887 140.949,183.162 		"/>
		<circle fill="#0071BC" cx="140.654" cy="175.397" r="4.86"/>
		<polygon points="127.619,170.619 153.479,172.086 140.167,168.914 131.514,170.089 		"/>
		<polygon fill="#FFFFFF" points="193.916,179.19 195.534,168.607 176.519,170.229 175.823,177.039 185.417,181.793 		"/>
		<circle fill="#0071BC" cx="185.165" cy="174.007" r="4.861"/>
		<polygon points="197.926,168.47 172.751,171.371 185.589,167.462 194.095,168.157 		"/>
	</g>
	<polygon fill="#91D7EE" stroke="#000000" stroke-width="6" stroke-miterlimit="10" points="270.468,132.265 321.031,63 859.486,63 
		917,158.414 917,436.379 870.039,530.464 305.673,510.099 261.597,427.329 	"/>
	<text transform="matrix(1 0 0 1 350.092 132.582)" font-family="'KomikaAxis'" font-size="30">Nome:    </text>
	<text transform="matrix(1 0 0 1 347.092 194.582)" font-family="'KomikaAxis'" font-size="30">Idade:    </text>
	<text transform="matrix(1 0 0 1 654.5002 199)" font-family="'KomikaAxis'" font-size="26">Sexo:</text>
	<text transform="matrix(1 0 0 1 778.5002 199)" font-family="'KomikaAxis'" font-size="26">M</text>
	<text transform="matrix(1 0 0 1 858.5002 199)" font-family="'KomikaAxis'" font-size="26">F</text>
	<text transform="matrix(1 0 0 1 402.5002 256.5)" font-family="'KomikaAxis'" font-size="26">Ano escolar:</text>
	<text transform="matrix(1 0 0 1 489.5002 318.5)" font-family="'KomikaAxis'" font-size="26">Senha:</text>
	<text transform="matrix(1 0 0 1 331.5002 380.5)" font-family="'KomikaAxis'" font-size="26">Confirmar Senha:</text>
</g>
<polygon id="txb_x5F_confsenha" fill="#FFFFFF" stroke="#000000" stroke-width="6" stroke-miterlimit="10" points="612.776,347 
	624.701,383.355 860,388.583 871.573,347 "/>
<polygon id="txb_x5F_nome" fill="#FFFFFF" stroke="#000000" stroke-width="6" stroke-miterlimit="10" points="464.776,99 
	476.701,135.355 712,140.583 723.573,99 "/>
<polygon id="txb_x5F_idade" fill="#FFFFFF" stroke="#000000" stroke-width="6" stroke-miterlimit="10" points="468.776,161 
	473.237,197.355 561.244,202.583 565.573,161 "/>
<polygon id="txb_x5F_ano" fill="#FFFFFF" stroke="#000000" stroke-width="6" stroke-miterlimit="10" points="609.776,229 
	616.38,265.355 746.671,270.583 753.079,229 "/>
<polygon id="txb_x5F_senha" fill="#FFFFFF" stroke="#000000" stroke-width="6" stroke-miterlimit="10" points="613.776,286 
	625.701,322.355 861,327.583 872.573,286 "/>
<circle id="txb_x5F_f" fill="#FFFFFF" stroke="#000000" stroke-width="6" stroke-miterlimit="10" cx="837.805" cy="188.5" r="10.5"/>
<circle id="txb_x5F_m" fill="#FFFFFF" stroke="#000000" stroke-width="6" stroke-miterlimit="10" cx="752.195" cy="188.5" r="10.5"/>
	<g id="btn_x5F_enter" style="cursor: pointer;" onclick="document.getElementsByTagName('form')[0].submit()">
		<polygon fill="#3FA9F5" stroke="#000000" stroke-width="6" stroke-miterlimit="10" points="727.409,484.205 734.364,499 
		825.156,503 829.687,491 833.776,443.686 825.385,428 737.741,424 726.452,439.453 	"/>
		<polygon points="751,448 751,473 778,474.5 778,491 815.75,467.5 783,437 783,454 	"/>
	</g>
	<g id="btn_x5F_voltar" style="cursor: pointer;" onclick="window.location.href = '@Url.Content("~")Home/Index';">
		<polygon fill="#FFFFFF" stroke="#000000" stroke-width="6" stroke-miterlimit="10" points="786.5,48.086 796.664,22.533 
		925.022,22.533 939,48.086 936.457,103.84 931.375,122.424 795.396,115.455 787.77,99.193 	"/>
		<text transform="matrix(1 0 0 1 801.3245 63.4893)" font-family="'KomikaAxis'" font-size="31.0855">Voltar</text>
		<polygon points="839.651,95.669 856.74,81.766 856.74,90.745 877.305,91.324 879.043,85.821 872.96,79.738 880.491,72.208 
		890.665,82.707 886.864,98.276 879.043,102.91 856.161,102.331 855.581,108.414 	"/>
	</g>

	<text id="lbl_x5F_alerta" transform="matrix(1 0 0 1 500 470)" fill="#FF0000" font-family="'KomikaAxis'" font-size="24">@ViewBag.Alerta</text>
		<foreignObject x="476" y="102" width="430" height="300">
		<body xmlns="http://www.w3.org/1999/xhtml">
			@using (Html.BeginForm("Cadastro", "Home", FormMethod.Post))
   {
		@Html.TextBoxFor(x => x.Nome, new { style = "width: 230px; height: 30px; left: 3px; " })
		@Html.TextBoxFor(x => x.Idade, new { style = "width: 83px; height: 30px; top: 62px;" })
		@Html.RadioButtonFor(m => m.Sexo, "M", new { style = " top: 77px; left: 265px;" })
		@Html.RadioButtonFor(m => m.Sexo, "F", new { style = " top: 77px; left: 351px;" })
		@Html.TextBoxFor(x => x.Serie, new { style = "width: 124px; height: 30px; top: 130px; left: 143px;" })
		@Html.PasswordFor(x => x.Senha, new { style = "width: 230px; height: 30px; top: 187px; left: 153px;" })
		@Html.PasswordFor(x => x.SenhaConfirma, new { style = "width: 230px; height: 30px; top: 248px; left: 153px;" })


   }
		</body>
	</foreignObject>
</svg>
